* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffc09f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    line-height: 1.6; 
}


.container {
    text-align: center;
    background-color: #ffee93;
    padding: 40px 50px; 
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
    width: 85%;
    max-width: 550px;
}


input[type="text"], input[type="date"] {
    width: 100%;
    padding: 16px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f1f8e9;
    font-size: 1.1rem;
}


button {
    padding: 12px;
    color: #ffffff;
    background-color: #a0ced9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 12px;
    width: 100%;
    font-size: 1.1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #1976d2;
    transform: translateY(-2px); 
}


#todo-list {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    margin-top: 30px;
}

do-item {
    padding: 18px;
    margin-bottom: 15px;
    border: 2px solid #bbdefb;
    border-radius: 8px;
    background-color: #ffffff;
    text-align: left;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.todo-item:hover {
    background-color: #e0f2f1;
    transform: scale(1.02); 
}


.todo-text {
    font-size: 1.05rem;
    margin-bottom: 8px;
    color: #424242;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}


.todo-item.completed .todo-text {
    text-decoration: line-through;
    color: #9e9e9e;
}


button i {
    margin-right: 8px;
}
